.row{
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px grey solid;
}
img {
  width: 900px;
}

.has-error{
  border:1px red solid;
}

h4:hover{
  color:black;
  cursor:hand;
}
